body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.pinimg.com/originals/42/96/bb/4296bba15c80329c1eb5fe783462611c.jpg");
  background-repeat: no-repeat;
  height: 200px;
  background-size: 1800px;
  background-attachment: fixed;
  
}
