.middleName{
    font-size: 30px;
    
}


.blogPost{
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    margin:200px;
}

.bgColor{
    background-color:coral;
    padding: 20px 10px 10px;
}

.postSection{
    background-color:coral ;
    display: flex;
    justify-content: center;
    margin:200px;
}