.middleName{
    font-size: 30px;
    
}


.blogPost{
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    margin:200px;
font-size: 40px;
}

.bgColor{
    background-color:#ADD8E6;
    padding: 20px 10px 10px;
    box-shadow: 10px 10px 5px grey;
}

.postSection{
    background-color:coral ;
    display: flex;
    justify-content: center;
    margin:200px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px;
    
}
.button-wrapper{
    width:250px;
    display: flex;
    justify-content: center;
    position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  margin-top: 150px;
}
.partOne{
    display: flex;
    flex-direction: column;
    
}
.profileOne{
    background: linear-gradient(90deg, beige 50%, #ffffb7 50%);
   display: flex;
   flex-direction: row;
   width:800px;
   padding:10px;
   top: 50%;
  left: 50%;
  transform: translate(20%, 20%);
  border-radius: 5%;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 130px;
}

.partTwo{
width:650px;
height:200px;
overflow:scroll;
margin:20px;
font-family: serif;
font-weight:100px ;

}

.hlRoute{
    border-left: 1px solid gray ;
    height: 210px;
    margin: 30px;   
}

.threeCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 125px;
    margin: 20px;
}
.personCard1{
    background: linear-gradient(180deg, #ffcccb 50%, #fffaf1 50%);
    margin-right: 20px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%;
    
}
.personCard2{
    background: linear-gradient(180deg, #ecd9ba 50%, #d6ecf3 50%);
    margin-right: 20px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%;
}
.personCard3{
    background: linear-gradient(180deg, #fffaf1 50%, #dcedc8 50%);
    margin-right: 20px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%;
}

.partThree{
    width:300px;
    height:210px;
    overflow:scroll;
    margin:20px;
    font-family: serif;
    font-weight:100px ;
    }

    .vlRoute {
        border-top: 1px solid gray;
        width: 310px;
        padding-bottom: 20px;
        margin: 10px;
      }
      .cardSize{
         padding: 30px;
      }