body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.pinimg.com/originals/42/96/bb/4296bba15c80329c1eb5fe783462611c.jpg");
  background-repeat: no-repeat;
 
  background-size: 800px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 240px;
  
  
}


.articleSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
}
.leftPage {
width: 300px;
height: 300px;


}
.desc{
  border: black solid 3px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 7px 7px 3px gray;
  background-color:white ;
}
.vl {
  border-top: 3px solid black;
  width: 1110px;
  padding-bottom: 20px;
  margin: 20px;
}

.hl {
  border-left: 3px solid ;
  height: 700px;
  margin: 40px;
}

.descTwo{
width: 600px;
height: 700px;
border: black solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 7px 7px 3px gray;
  background-color:white ;
}
.linkBtn{
  color:teal;

}

.descThree{
  padding: 10px;
}


.vLine{
  border-top: 3px solid black;
  width: 200px;
  padding-bottom: 10px;
  margin-left:35px
}

.scrollmenu {
  border: black solid 3px;
  border-radius: 10px;
  box-shadow: 7px 7px 3px gray;
  background-color:white ;
    overflow: auto;
    white-space: nowrap;
    width:460px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px; 
    padding-left: 10px;
    padding-right: 15px;
  }

  .scrollmenu a {
    display: inline-block;
    color: #222222;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
  }
  .scrollmenu a:hover {
    background-color: #Fffdd0;
  }

 .scrollmenuTwo{
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;

 }

    .scrollmenuTwo a {
      display: inline-block;
      color: #222222;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }
    .scrollmenuTwo  a:hover {
      background-color: #Fffdd0;
    }
  
.descFour{
  border: black solid 3px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 7px 7px 3px gray;
  background-color:white ;
  width:400px;
 height:470px;
}

.descFive{
  border: black solid 3px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 7px 7px 3px gray;
  background-color:white ;
  width: 270px;
  margin: 1px 20px 3px;
}

.descfiveOne{
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.bottomLeft{
display: flex;
flex-direction: column;

}
.vlFive {
  border-top: 3px solid black;
  width: 750px;
  padding-bottom: 20px;
}

.bottomHalf{
display: flex;
flex-direction: row;
}

.hlBottom{
  border-left: 3px solid ;
  height: 330px;
  margin: 40px;
}