
.magazine{
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}
.scrollmenu {
    background-color: #F4F0DB;
    overflow: auto;
    white-space: nowrap;
    width:600px;
    display: flex;
    flex-direction: row;
    
  }
  .scrollmenu a {
    display: inline-block;
    color: #222222;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
  }
  .scrollmenu a:hover {
    background-color: #Fffdd0;
  }

  img{
    width: 230px;
    height: 230px;
  }
  
  .card {
    width: 450px;
    height: 150px;
    background-color:#F4F0DB;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  
  }
  
  .card h1 {
    text-align: center;
  }
  
  .card .additional {
    position: absolute;
    width: 150px;
    height:100px;
    background-color:white;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card:hover .additional {
    width: 300px;
  
   
  }
  .desc{
    display: flex;
    flex-direction: column;
    width: 300px;
    
    font-size: 8px;
  }
  
  .infosec{
    size: 20px;
    padding-left: 15px;
  }
  